.container { 
	position: relative;
	--mask:
	  radial-gradient(40px at 40px 40px,#0000 calc(98% - 10px),#000 calc(100% - 10px) 98%,#0000) -40px -40px,
	  linear-gradient(90deg,#000 20px,#0000 0) -10px 50% /100% calc(100% - 80px + 10px) repeat-x,
	  linear-gradient(      #000 20px,#0000 0) 50% -10px/calc(100% - 80px + 10px) 100% repeat-y;

	  width: 500px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-direction: column;
	  padding: 20px;
  }
  .container:before {
	content: "";
	position: absolute;
	inset: 0;
	background: var(--primary);
	-webkit-mask: var(--mask);
			mask: var(--mask);
  }

.imgwrap {
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	object-fit: contain;
}

#follower {
	object-fit: contain;
	width: 150px;
	/* height: 100%; */
}

button {
	background: transparent;
	color: white;
	border: 5px solid var(--primary);
	font-size: 18px;
	font-family: inherit;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 30px;
	border-radius: 20px;
}

.header {
	padding: 5px 10px;
}

.wrapper {
	display: flex;
	height: 450px;
	align-items: center;
	justify-content: center;
}