/* * { outline: .5px dotted magenta } */

:root {
	--notification: #393939;
}

h1 {
	margin: 0;
	margin-bottom: 15px;
}

.section {
	padding: 5px 10px;
}

hr {
	margin: 0px 10px;
}

.statistics .bubbles {
	display: flex;
	align-items: center;
}

.statistics .bubbles .bubble {
	flex: auto;
	object-fit: contain;
	text-align: center;
}

.statistics .bubbles .bubble img {
	object-fit: contain;
	width: 110px;
	height: 110px;
}

.statistics .bubbles .bubble .container {
	display: inline-flex;
	align-self: center;
	background-color: rgb(40,40,40);
	aspect-ratio: 1/1;
	width: 80px;
	border-radius: 100%;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	/* height: 110px; */
}

.statistics .bubbles .bubble .container img {
	width: 40px;
	position:absolute;
}

.statistics .bubbles .bubble .container div {
	background-color: var(--pos);
	width: 100%;
	height: 0%;
	align-self: flex-end;
}

.numbers {
	width: 100%;
	font-size: 24px;
}

.numbers th { 
	text-align: left;
}

.numbers td {
	text-align: right;
}

.noteWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.noteWrapper .notif {
	position: relative;
	display: flex;
	background-color: var(--notification);
	padding: 10px;
	align-items: center;
	font-size: 18px;
	border-radius: 5px;
	opacity: 0;
	left: -100px;
}

.noteWrapper .notif *:not(.count) {
	text-wrap: wrap;
	flex: 100%;
}

.noteWrapper .notif .count {
	font-size: 28px;
	flex: auto;
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
}

.noteWrapper .notif .count.good {
	color: var(--pos);
}

.noteWrapper .notif .count.bad {
	color: var(--neg);
}